footer {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

footer::after {
  left: -30%;
  top: 0;
  content: "";
  position: absolute;
  height: 600px;
  width: 1000px;
  background: linear-gradient(62.5deg, transparent, rgba(74, 196, 243, 0.06));
  border-radius: 50px;
  transform: rotate(45deg);
  z-index: -1;
  opacity: 0.5;
}

footer.bg-dark::after {
  background: url(../../assets/Images/footer-bg-img.png);
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  transform: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.3;
}

footer .fixed-bg {
  position: absolute;
  right: -20%;
  bottom: -10%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  opacity: 0.09;
  transform: rotate(-35deg);
}

footer .default-padding {
  overflow: inherit;
  padding-top: 70px;
}

footer .item {
  margin-top: 50px;
}

footer .widget-title {
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

footer .widget-title {
  margin-bottom: 30px;
  font-weight: 700;
}

footer.bg-dark .item p {
  color: #cccccc;
}

footer .social h5 {
  margin-bottom: 15px;
  font-weight: 600;
}

footer .social li {
  display: inline-block;
  margin-right: 35px;
  font-size: 15px;
}

footer .social {
  margin-top: 30px;
}

footer .f-item.about {
  padding-right: 30px;
}

footer .f-item .address ul li {
  margin-bottom: 15px;
}

footer .f-item .address ul li p {
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-size: 14px;
  margin-bottom: 5px;
  color: #0e2258;
}

footer.bg-dark .f-item .address ul li p {
  color: #ffffff;
}

footer .f-item .address ul li:last-child {
  margin-bottom: 0;
}

footer .f-item .address ul li strong {
  display: block;
  font-weight: 400;
  color: #666666;
}

footer.bg-dark .f-item .address ul li strong {
  color: #cccccc;
}

footer .f-item.link li {
  margin-bottom: 15px;
}

footer .f-item.link li:last-child {
  margin-bottom: 0;
}

footer .f-item.link li a {
  display: inline-block;
  font-weight: 500;
  color: #666666;
}

footer.bg-dark .f-item.link li a {
  color: #cccccc;
}

footer .f-item.link li a:hover {
  color: #f35a38;
}

footer.bg-dark .f-item.link li a:hover {
  color: #ffffff;
}

/* Footer Bottom */
.footer-bottom {
  border-top: 1px solid #e7e7e7;
  padding: 30px 0;
}

.bg-dark .footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .footer-bottom form {
  position: relative;
  z-index: 1;
  width: 100%;
}

footer .footer-bottom form .input-group.stylish-input-group {
  position: relative;
}

footer .footer-bottom form input,
footer .footer-bottom form input:focus {
  width: 100%;
  background: transparent;
  padding: 15px;
  color: #0e2258;
  border-radius: inherit;
  border: 1px solid #e7e7e7;
  min-height: 60px;
}

footer.bg-dark .footer-bottom form input,
footer.bg-dark .footer-bottom form input:focus {
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

footer .footer-bottom form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cccccc;
}

footer .footer-bottom form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc;
}

footer .footer-bottom form input:-ms-input-placeholder {
  /* IE 10+ */
  color: #cccccc;
}

footer .footer-bottom form input:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc;
}

footer .footer-bottom form span.input-group-addon {
  width: 60px;
  position: absolute;
  right: 0;
  border-left: 1px solid #e7e7e7;
  min-height: 60px;
}

footer.bg-dark .footer-bottom form span.input-group-addon {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

footer .footer-bottom form span.input-group-addon button {
  position: absolute;
  height: 40px;
  top: 10px;
  right: 10px;
  width: 40px;
  border: none;
  background: #f35a38;
  border-radius: 5px;
  color: #ffffff;
  z-index: 9;
}

.blue footer .footer-bottom form span.input-group-addon button {
  color: #4628ba !important;
}

.software footer .footer-bottom form span.input-group-addon button {
  color: #4ac4f3 !important;
}

.it-solution footer .footer-bottom form span.input-group-addon button {
  color: #0554f2 !important;
}
.bg-dark {
  background: #0e2258 none repeat scroll 0 0 !important;
}
.text-light {
  color: #f8f9fa !important;
}
footer.bg-dark .footer-bottom form span.input-group-addon button {
  background: #ffffff;
  color: #f35a38;
}

footer .footer-bottom p {
  margin-bottom: 0;
}

footer.bg-dark .footer-bottom p {
  color: #cccccc;
}
